{%extends 'base.html'%}
{% load bootstrap5 %}
{%load static%}

{% block content %}
{{block.super}}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        {%for profile in profile%}
        <img src="{{profile.profile_pic.url}}" class="profile-" style="
            width: 100%;
            border-radius: 50%;
            overflow: hidden;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 10px;
            background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
        " alt="">
        <h5 class="text-center" style="padding-top: 10px;">Username: {{profile.user.username}}</h5>
        <hr style="color: brown;">
        <p>Neighbourhood: <strong>{{profile.nbd.name}},</strong> {{profile.nbd.county}} County</p>
        <div class="love">
            <h5>This is what you like about {{profile.nbd.name}}</h5>
            <p class="text-center">'{{profile.why_here}}'</p>
        </div>
        <hr style="color: brown;">
        <p>Last updated: {{profile.pub_date}}</p>
        {%endfor%}
    </div>

    <div class="col-md-3"></div>

    <div class="col-md-3">

        <form action="{%url 'profile'%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}

            {% bootstrap_form form%}
            <input type="submit" class="btn btn-outline-danger btn-sm" value="Save">
        </form>
    </div>
    <div class="col-md-1"></div>

</div>

{% endblock %}