{%extends 'base.html'%}
{% load bootstrap5 %}
{%load static%}

{% block content %}
{{block.super}}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <form action="{%url 'post'%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {% bootstrap_form form%}
            <input type="submit" class="btn btn-outline-danger btn-sm" value="Save">
        </form>
    </div>
    <div class="col-md-4"></div>
</div>



{% endblock %}