{%extends 'base.html'%}
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="text-center">
            {% if results%}
            <h3
                style="color: white; background-color: rgb(6, 118, 122); padding: 10px; border: 1px solid  rgb(188, 108, 37); border-radius: 10px;">
                <i class="fa fa-share-square-o" aria-hidden="true"></i> Found {{results|length }} of your search;
                {{message}}</h3>

            {%for business in results%}
            <div class="card" style="font-size: 80%; margin-top: 10px;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="{{business.business_pic_one.url}}" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{business.name}}</h5>
                    <p class="card-text">
                        {{business.description}}
                    </p>
                    <a href="{%url 'business_details' business.id%}" class="btn btn-primary"
                        style="background-color: rgb(6, 118, 122); color: white; border: none; border-radius: 5px;">View more
                        Details</a>
                </div>
            </div>
            {% empty %}
            <div class="row">
                <h5 class="text-center">There are no businesses added yet</h5>
            </div>
            <hr style="color: rgb(6, 118, 122);">

            {%endfor%}

            {% else %}
            <h2> Found 0 post name for the search term {{message}}</h2>
            {% endif %}
        </div>
    </div>

    <div class="col-md-3"></div>

</div>
{% endblock %}